<div class="navbar navbar-fixed-top grid-nav-mobile" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left grid-nav-button" data-toggle="offcanvas" ng-click="showMenu = !showMenu">
                <span class="grid-ico-list2"></span>  
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-left" ng-class="{ 'active': showMenu }">

        <div id="grid-mobile-menu" class="col-xs-8 sidebar-offcanvas">

            <ul class="menu-list">
                <li class="menu-header"><span class="grid-ico-graph"></span>User List<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': dashboardshow, 'glyphicon-chevron-right': !dashboardshow}"></i></li>
            </ul>
            <ul class="menu-list">
                <li class="menu-header" ng-click="logout()"><span class="grid-ico-logout" ></span>Logout</li>
            </ul>
        </div>

        <div id="mobile-container" class="col-xs-12">
            <div id="mobile-view" class="container" ui-view>
            </div>
        </div>
    </div>
</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="mainviewspinner"></span>